@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    text-align: center;
    font-family: Roboto, sans-serif;
}

#keyboard, th {
    background-color: black;
    border: 1px solid;
    height: 350px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.key {
    background-color: lightgray;
    height: 100px;
    width: 100px;
    margin: 0px auto;
}

#key-disabled {
    background-color: darkgray;
    height: 100px;
    width: 100px;
    margin: 0px auto;
}

#win-message {
    background-color: forestgreen;
}

#defeat-message {
    background-color: firebrick;
}

button {
  appearance: none;
  background-color: darkgray;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 20px;
}

tr {
    font-size: 1.8em;
}